* {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 180px;
    height: 100vh;
    background-color: white;
    padding: 20px;
    color:black;
    margin-top: 30px;
    position: fixed;
    
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar-menu li:hover {
    background-color: blue;
    color: black;
}

