.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position:relative;
  }
  
  .form-Login {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color:red;
  }
  button{
    background-color: blue;
  }
  
  .input-name{
    border:1px solid gray;
    border-radius: 8px;
    height: 30px;
    width:300px;
  }
  .input-lname{
    border:1px solid gray;
    border-radius: 8px;
    height: 30px;
    width:300px;
  }
  .input-email{
    border:1px solid gray;
    border-radius: 8px;
    height: 30px;
    width:300px;
  }