.Shop{
    margin-left:40px;
    display: flex;
    gap:250px;
}

.category-link{
    display: block;
    padding: 6px 10px;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}
.category-link:hover {
    color:gray; 
    background-color: transparent; 
}
.pictures-input{
    margin-top: 30px;
    width: 76%;
    height: 70px;
    margin-right: 35px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display:flex;
    gap:405px;
}
.default-icon{
    display:flex;
    gap:10px;
}
.default-second-icon{
    display:flex;
    gap:5px;
}